*.o
*.d
*.bin
*.BIN
*.swp
*.swo
*.pyc
asm-offsets.s
*.debug.lst
*.a
*.patch
*.rom

generated
not_commit*
/pmp
/pmp.lst
/pmp.map
/PMP
/PMP.lst
/PMP.map

gtags.files
GTAGS
GPATH
GRTAGS
GRPATH

/.vscode/
